.dashboard {
    margin: 30px 30px 60px 30px;
    width: 95%;
}

.header-default {
  background-color: white; /* Cor padrão */
  color: #1E2B38;
}

.header-hover {
  background-color: #1E2B38;
  color: white;
}

::ng-deep  mat-card {
    height: 100%;
    width: 100%;  
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
  

  img {
    width: 100%;  /* Faz com que a imagem ocupe toda a largura do mat-card */
    height: 100%; /* Faz com que a imagem ocupe toda a altura do mat-card */
    object-fit: cover; /* Garante que a imagem preencha o quadro sem distorcer */
  }

.header {
  padding: 8px 16px 9px 16px !important;
}
  
::ng-deep mat-card-content {
    padding: 0; /* Remove qualquer padding extra que possa estar afetando o vídeo */
}

.video-container {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0; /* Cor de fundo padrão */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor-off {
  cursor: default;
}

.cursor-on {
  cursor: pointer;
}

.no-url {
    background-color: #cccccc; /* Fundo cinza quando não há URL */
}

.video-frame {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ajusta o vídeo ao tamanho do contêiner sem cortar */
}
  
  .mat-grid-tile {
    width: 200px;
    border-radius: 25px;
  }

  .fa-icone-default {
    color: #f0f0f0;
    margin: 10px;
    font-size: 78px;
}

.fa-icone-hover {
  color: #1E2B38;
  margin: 10px;
  font-size: 78px;
}