<div *ngIf="cameraDetalhes === null; else editTemplate" class="dashboard">
    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="20px">
        <mat-grid-tile *ngFor="let camera of cameraUrls">
            <mat-card 
            (mouseenter)="setHovering(camera, true)"
            (mouseleave)="setHovering(camera, false)">
                <mat-card-header [class.header-hover]="camera.hovering" [class.header-default]="!camera.hovering" class="header">
                    <mat-card-title>{{ camera.name }}</mat-card-title>
                </mat-card-header>
                <mat-card-content *ngIf="!(camera.safeUrl == '')" class="video-container cursor-on" 
                    [ngClass]="{ 'no-url': camera.safeUrl == '' }">
                    <img #videoElement (click)="detalhesCamera(camera)" *ngIf="camera.safeUrl" [src]="camera.safeUrl" alt="{{ camera.name }}" class="video-frame">
                </mat-card-content>
                <mat-card-content *ngIf="camera.safeUrl == ''" class="video-container cursor-off" 
                    [ngClass]="{ 'no-url': camera.safeUrl == '' }">
                    <fa-icon  [class.fa-icone-hover]="camera.hovering" [class.fa-icone-default]="!camera.hovering"  class="fa-icone i-sair" icon="ellipsis"></fa-icon>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<!-- Exibe o componente filho quando uma câmera é selecionada -->
<ng-template #editTemplate>
    <app-details-detect-epi-plus
      *ngIf="cameraDetalhes"
      [cameraDetalhes]="cameraDetalhes" 
      (voltar)="voltar()">
    </app-details-detect-epi-plus>
</ng-template>
